.project-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 1rem 0.875rem 0 #04152d;
    padding: var(--space-xs) var(--space-s);
    max-inline-size: 21.5625rem;
}

.project-container, .project-image, .project-image-container {
    border-radius: 0.625rem;
}

.project-image-container {
    overflow: hidden;
}

.project-image-container img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.project-image {
    margin-block-end: var(--space-s);
    transition: 0.5s all ease;
}

.project-title {
    font-size: var(--step-1);
    font-weight: 600;
}

.project-description {
    margin-block-start: 0.375rem;
    font-size: var(--step--1);
    color: var(--color-subtitle);
    font-weight: 200;
}

.project-skills {
    margin-block-start: var(--space-1xs);
    display: flex;
    list-style: none;
    justify-content: center;
    gap: var(--space-2xs);
}

.project-skill {
    font-size: var(--step--1);
    font-weight: 300;
    border-radius: 2rem;
    background-color: var(--color-dark);
    padding: 5px var(--space-s);
}

.project-links {
    margin-block-start: var(--space-s);
    margin-inline: auto;
    display: flex;
    gap: 6px;
}

.project-link {
    display: flex;
    text-decoration: none;
    color: var(--color-text);
    font-size: var(--step-0);
    font-weight: 300;
    border-radius: 8px;
    background-color: var(--color-primary);
    padding: 5px var(--space-xs);
    gap: 6px;
    align-items: center;
}

@media (hover: hover) {
    .project-image:hover {
        transform: scale(1.05);
        opacity: .85;
    }
}