.formation {
    margin-block: var(--space-2xl);
}

.formation-info {
    margin-block-start: var(--space-s);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graduation {
    background-color: var(--color-primary);
    padding: .3rem .4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.completed {
    padding-block: .4rem;
}

.university-info {
    display: flex;
    align-items: center;
}

.university-data {
    margin-inline-start: var(--space-xs);
}

.university-data h3 {
    font-size: var(--step--1);
}

.formation-data-subtitle {
    font-size: var(--step--2);
    color: var(--color-subtitle);
}

.ending-time {
    align-items: center;
    gap: var(--space-xs);
}

@media (max-width: 41.875rem) {
    .formation-info {
        flex-direction: column;
        align-items: start;
        gap: var(--space-xs);
    }

    .ending-time {
        flex-direction: row-reverse;
    }
}