.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-2xs);
}

.text h2 {
    font-size: var(--step-3);
    letter-spacing: 0;
    font-weight: 500;
    color: var(--color-tertiary);
    text-transform: none;
}

.text p {
    font-size: var(--step--1);
    font-weight: 100;
    color: var(--color-subtitle);
}

.footer-links {
    display: flex;
    margin-top: 16px;
    align-items: start;
    list-style: none;
    gap: var(--space-s);
}

.footer-link {
    display: flex;
    background-color: #1C345C;
    border-radius: 100%;
    padding: 0.5rem 0.7rem;
    align-items: center;
    gap: var(--space-s);
}

.footer-divider {
    height: 1px;
    width: 80%;
    background-color: var(--color-secondary);
    margin: var(--space-xl) auto 1rem auto;
}

.rights {
    margin-block-start: 2rem;
    text-align: center;
    color: var(--color-small-paragraph);
}

@media (max-width: 51.875rem) {
    .contact {
        flex-direction: column;
        gap: var(--space-m);
    }
}

@media (max-width: 51.875rem) {

    .text {
        text-align: center;
    }

    .text h2 {
        margin-bottom: 12px;
    }

    .footer-links {
        align-items: start;
        margin: 0 auto;
    }
}

@media (hover: hover) {
    .footer-link:hover svg {
        animation: shake 0.5s ease-in-out;
    }
}

@keyframes shake {
    0% {
        transform: rotate(5deg);
    }

    25% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-6deg);
    }

    100% {
        transform: rotate(5deg);
    }
}