.footer {
    margin-block-start: var(--space-3xl);
    background-image: linear-gradient(to bottom, var(--color-bg) 0% , var(--color-dark) 35%);
    padding-block-start: var(--space-2xl);
    padding-block-end: var(--space-xl)
}