.technologies {
    color: var(--color-text);
    margin-block: var(--space-2xl);
}

.drag-indication {
    display: flex;
    font-style: italic;
    align-items: center;
    color: #6B7280;
    gap: var(--space-2xs);
    margin-block-start: var(--space-3xs);
}

.drag-indication p {color: inherit;}

.skills {
    margin-block-start: var(--space-s);
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--space-l);
}

.skill {
    margin-top: 11px;
}

.skill-image-container {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}

.skill-image, .skill-title {
    user-select: none;
}

.skill-title {
    font-weight: 500;
    font-size: var(--step--2);
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

@media (max-width: 51.875rem) {
    .skills {
        width: 100%;
        flex-direction: row;
    }

    .message, .skills {
        justify-content: center;
    }
}