* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit";
  color: var(--color-text);
  scroll-behavior: smooth;
}

#root {
  background-color: var(--color-bg);
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 1rem;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  user-select: none;
}

header,
main,
.footer-wrapper {
  max-inline-size: 75rem;
  margin: auto;
}

a {
  text-decoration: none;
}

h2 {
  letter-spacing: 1.5px;
  font-size: var(--step-3);
  font-weight: 600;
  color: var(--color-h2);
  z-index: 400;
  position: relative;
}

section {
  margin-inline: 10%;
}

@media (hover: hover) and (pointer: fine) {
  ::selection {
    background: var(--color-primary);
  }
  :is(.cv, .linkedin, .github, .graduation, .project-link):hover {
    background-color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
  }

  .project-link:hover {
    color: var(--color-primary);
  }

  :is(.cv, .linkedin, .github, .project-github-link):hover svg {
    stroke: var(--color-primary);
    fill: var(--color-primary);
  }

  .project-preview-link:hover path {
    stroke: var(--color-primary);
    fill: none;
  }

  .graduation:hover svg {
    stroke: var(--color-primary);
  }

  .skill {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  .skill:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  .korogs:hover {
    background: linear-gradient(
      to right,
      rgba(232, 20, 22, 1) 0%,
      rgba(255, 165, 0, 1) 16%,
      rgba(250, 235, 54, 1) 32%,
      rgba(121, 195, 20, 1) 48%,
      rgba(72, 125, 231, 1) 64%,
      rgba(75, 54, 157, 1) 80%,
      rgba(112, 54, 157, 1) 96%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    -webkit-text-stroke: .65px transparent;
    animation: colour-slip 4s ease-in-out infinite alternate;
  }
}

@keyframes colour-slip {
  0% {
      background-position: 0% 50%;
  }

  100% {
      background-position: 100% 50%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}